OPENAI_API_KEY=your-api-key-here
OPENAI_BASE_URL=https://open.bigmodel.cn/api/paas/v4
DEFAULT_MODEL=glm-4.7-flashx

DEFAULT_TEMPERATURE=1.0
DEFAULT_MAX_TOKENS=32678

VISION_API_KEY=your-vision-api-key-here
VISION_BASE_URL=https://open.bigmodel.cn/api/paas/v4
VISION_MODEL=glm-4.6v

GLMOCR_API_KEY=your-glmocr-api-key-here
